.friendList {
  width: 300px;
  margin: auto;
  display: flex;
  padding: 0;

  flex-direction: column;
}
.item {
  height: 60px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 5px;
  background-color: #fff;
  border: 1px solid #dadada;

  overflow: hidden;
}
.status {
  width: 12px;
  height: 12px;
  margin: auto 12px;
  border-radius: 50%;
}
.true {
  composes: status;
  background-color: rgb(0, 200, 0);
}
.false {
  composes: status;
  background-color: rgb(200, 0, 0);
}
